.blog-layout {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    gap: 4rem;
    padding: 4rem 0;  /* Remove horizontal padding since we're using grid */
    min-height: 80vh;
    align-items: center;
}

.title-container {
    grid-column: 2 / 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    grid-column: 2 / 3;
    position: relative;
    min-height: 20vh;
}

.content-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    transform: translate(8px, 8px);
    z-index: 1;
}

.content {
    position: relative;
    background-color: var(--bg-light);
    box-shadow: 0 0 0 2px var(--accent-color);
    z-index: 2;
    padding: 2rem;
    width: 100%;
    min-height: inherit;
}

.content p {
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    line-height: 1.4;
}

.content a {
    color: var(--text-color);
    text-decoration: underline;
    transition: color 0.3s ease;
}
.content a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.article-heading {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    gap: 1rem;
}

.article-thumbnail {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    object-fit: cover;
}

.section-heading a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.title {
    font-family: 'JetBrains Mono', monospace;
    font-size: clamp(1.6rem, 4vw, 3rem);
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    text-align: center;
}

.subtitle {
    font-family: 'JetBrains Mono', monospace;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    text-align: center;
    line-height: 1.2;
    padding: 0 4rem;
}

.section-heading {
    font-family: 'JetBrains Mono', monospace;
    font-size: clamp(1.1rem, 3vw, 2.4rem);
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.subsection-heading {
    font-family: 'JetBrains Mono', monospace;
    font-size: clamp(0.9rem, 2vw, 1.6rem);
    margin: 1rem 0;
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .blog-layout {
        grid-template-columns: 1fr;  /* Single column on small screens */
        gap: 2rem;
        padding: 2rem 1.5rem;
    }

    .title-container {
        grid-column: 1 / 2;  /* Full width */
    }
    
    .content-container {
        grid-column: 1 / 2;  /* Full width */
    }

    .subtitle {
        padding: 0rem;
    }

    .content {
        padding: 1rem;
    }

    .article-thumbnail {
        width: 42px;
        height: 42px;
    }
}